.FrindList-Container {
    height: inherit;
    width: inherit;
    overflow: auto;

    .Friend-data-flex {
        height: 60px;
        width: inherit;
        border-bottom: 0.01px solid rgba(46, 46, 46, 0.719);
        display: flex;

        justify-content: center;
        align-items: center;

        .Image {
            // border: 0.5px solid lightgray;
            margin: 0 0 0 5px;
        }

        .Friend-Name {
            width: 70%;
            font-size: 14px;
            font-weight: 500;
            margin: 0 0 5px 5px;
            // border: 0.5px solid lightgray;
        }

        .Unfriend-Button {
            // width: "80px";
            margin: 0 5px 0 0;
        }

        .MuiButton-root {
            min-width: 40px;
            margin: 0 2px;
        }
    }
}

.FrindList-Container::-webkit-scrollbar {
    display: none;
}
